@import "tailwindcss";

::selection {
  background-color: rgba(61, 170, 194, 0.25);
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: oklch(100% 0 0);
  --text-color: oklch(25.421% 0.01115 254.089);
}

[data-theme="dark"] {
  --bg-color: oklch(0.177 0.01404 258.383);
  --text-color: oklch(97.034% 0.01038 248.179);
}

@theme {
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;

  --color-theme-bg: var(--bg-color);
  --color-theme-text: var(--text-color);

  --color-success: oklch(0.67 0.1624 144.21);
  --color-primary: oklch(0.55 0.2153 262.9);
  --color-warning: oklch(0.65 0.2346 91.12);
  --color-danger: oklch(0.55 0.2346 29.12);
}

.tag {
  @apply inline-block px-2 py-0.5 text-sm rounded-full border;
}

@custom-variant hover (&:hover);
