---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"span"> {
  type?: "success" | "primary" | "warning" | "danger" | "info";
  variant?: "border" | "text" | "bg";
  size?: "sm" | "md";
}

const { type: _, variant: __, ...rest } = Astro.props;

const type = Astro.props.type ?? "info";
const variant = Astro.props.variant ?? "border";

const size = Astro.props.size ?? "md";

const borderColors: Record<NonNullable<Props["type"]>, string> = {
  success: "border-success",
  primary: "border-primary",
  warning: "border-warning",
  danger: "border-danger",
  info: "border-theme-text/65"
};

const bgColors: Record<NonNullable<Props["type"]>, string> = {
  success: "bg-success/10",
  primary: "bg-primary/10",
  warning: "bg-warning/10",
  danger: "bg-danger/10",
  info: "bg-theme-text/10"
};

const textColors: Record<NonNullable<Props["type"]>, string> = {
  success: "text-success",
  primary: "text-primary",
  warning: "text-warning",
  danger: "text-danger",
  info: "text-theme-text/65"
};

const sizeStyles: Record<NonNullable<Props["size"]>, string> = {
  sm: "px-1.5 py-px text-xs",
  md: "px-2 py-0.5 text-sm"
};
---

<span
  class:list={[
    "tag",
    variant === "bg" && bgColors[type],
    variant === "border" && `border ${borderColors[type]}`,
    sizeStyles[size],
    textColors[type],
    rest.class
  ]}
  {...rest}
>
  <slot />
</span>
